body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: transparent;
    color: #2D3436;
}

#clock {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}

#time {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px;
}

#weekday {
    font-size: 16px;
    color: #636E72;